@using AUCTIONHIVE.Data
@using Microsoft.EntityFrameworkCore;
@using Microsoft.AspNetCore.Identity
@using AUCTIONHIVE.Models
@inject UserManager<ApplicationUser> UserManager
@inject SignInManager<ApplicationUser> signInManager;

@inject ApplicationDbContext _context
@{

    var categories = _context.Categories.Include(x => x.SubCategories);

}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - AUCTIONHIVE</title>
    <link rel="apple-touch-icon" sizes="180x180" href="assets/img/favicons/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="assets/img/favicons/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="assets/img/favicons/favicon-16x16.png">
    <link rel="shortcut icon" type="image/x-icon" href="assets/img/favicons/favicon.ico">
    <link rel="manifest" href="assets/img/favicons/manifest.json">
    <meta name="msapplication-TileImage" content="assets/img/favicons/mstile-150x150.png">
    <meta name="theme-color" content="#ffffff">
    <script src="~/vendors/simplebar/simplebar.min.js"></script>
    <script src="~/assets/js/config.js"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com/">
    <link rel="preconnect" href="https://fonts.gstatic.com/" crossorigin="">
    <link href="https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;400;600;700;800;900&amp;display=swap" rel="stylesheet">
    <link href="~/vendors/simplebar/simplebar.min.css" rel="stylesheet">
    <link href="~/assets/css/theme-rtl.min.css" type="text/css" rel="stylesheet" id="style-rtl">
    <link href="~/assets/css/theme.min.css" type="text/css" rel="stylesheet" id="style-default">
    <link href="~/assets/css/user-rtl.min.css" type="text/css" rel="stylesheet" id="user-style-rtl">
    <link href="~/assets/css/user.min.css" type="text/css" rel="stylesheet" id="user-style-default">
    <script>
        var phoenixIsRTL = window.config.config.phoenixIsRTL;
        if (phoenixIsRTL) {
          var linkDefault = document.getElementById('style-default');
          var userLinkDefault = document.getElementById('user-style-default');
          linkDefault.setAttribute('disabled', true);
          userLinkDefault.setAttribute('disabled', true);
          document.querySelector('html').setAttribute('dir', 'rtl');
        } else {
          var linkRTL = document.getElementById('style-rtl');
          var userLinkRTL = document.getElementById('user-style-rtl');
          linkRTL.setAttribute('disabled', true);
          userLinkRTL.setAttribute('disabled', true);
        }
    </script>
    <link href="~/vendors/leaflet/leaflet.css" rel="stylesheet">
    <link href="~/vendors/leaflet.markercluster/MarkerCluster.css" rel="stylesheet">
    <link href="~/vendors/leaflet.markercluster/MarkerCluster.Default.css" rel="stylesheet">
    <link href="~/vendors/swiper/swiper-bundle.min.css" rel="stylesheet">

</head>
<body>

    <main class="main" id="top">

        <!-- ============================================-->
        <!-- <section> begin ============================-->
        <section class="py-0">
            <div class="container-small">
                <div class="ecommerce-topbar">
                    <nav class="navbar navbar-expand-lg navbar-light px-0">
                        <div class="row gx-0 gy-2 w-100 flex-between-center">
                            <div class="col-auto">
                                <a class="text-decoration-none" href="../../../index.html">
                                    <div class="d-flex align-items-center">
                                        <img src="../../../assets/img/icons/logo.png" alt="phoenix" width="27" />
                                        <h5 class="logo-text ms-2">AUCTION HIVE</h5>
                                    </div>
                                </a>
                            </div>
                            <div class="col-auto order-md-1">
                                <ul class="navbar-nav navbar-nav-icons flex-row me-n2">
                                    <li class="nav-item d-flex align-items-center">
                                        <div class="theme-control-toggle fa-icon-wait px-2"><input class="form-check-input ms-0 theme-control-toggle-input" type="checkbox" data-theme-control="phoenixTheme" value="dark" id="themeControlToggle" /><label class="mb-0 theme-control-toggle-label theme-control-toggle-light" for="themeControlToggle" data-bs-toggle="tooltip" data-bs-placement="left" data-bs-title="Switch theme" style="height:32px;width:32px;"><span class="icon" data-feather="moon"></span></label><label class="mb-0 theme-control-toggle-label theme-control-toggle-dark" for="themeControlToggle" data-bs-toggle="tooltip" data-bs-placement="left" data-bs-title="Switch theme" style="height:32px;width:32px;"><span class="icon" data-feather="sun"></span></label></div>
                                    </li>
                                    <li class="nav-item"><a class="nav-link px-2 icon-indicator icon-indicator-primary" href="cart.html" role="button"><span class="text-body-tertiary" data-feather="shopping-cart" style="height:20px;width:20px;"></span><span class="icon-indicator-number">3</span></a></li>
                                    <li class="nav-item dropdown">
                                        <a class="nav-link px-2 icon-indicator icon-indicator-sm icon-indicator-danger" id="navbarTopDropdownNotification" href="#" role="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-haspopup="true" aria-expanded="false"><span class="text-body-tertiary" data-feather="bell" style="height:20px;width:20px;"></span></a>
                                        <div class="dropdown-menu dropdown-menu-end notification-dropdown-menu py-0 shadow border navbar-dropdown-caret mt-2" id="navbarDropdownNotfication" aria-labelledby="navbarDropdownNotfication">
                                            <div class="card position-relative border-0">
                                                <div class="card-header p-2">
                                                    <div class="d-flex justify-content-between">
                                                        <h5 class="text-body-emphasis mb-0">Notifications</h5><button class="btn btn-link p-0 fs-9 fw-normal" type="button">Mark all as read</button>
                                                    </div>
                                                </div>
                                                <div class="card-body p-0">
                                                    <div class="scrollbar-overlay" style="height: 27rem;">
                                                        <div class="px-2 px-sm-3 py-3 notification-card position-relative read border-bottom">
                                                            <div class="d-flex align-items-center justify-content-between position-relative">
                                                                <div class="d-flex">
                                                                    <div class="avatar avatar-m status-online me-3"><img class="rounded-circle" src="../../../assets/img/team/40x40/30.webp" alt="" /></div>
                                                                    <div class="flex-1 me-sm-3">
                                                                        <h4 class="fs-9 text-body-emphasis">Jessie Samson</h4>
                                                                        <p class="fs-9 text-body-highlight mb-2 mb-sm-3 fw-normal"><span class='me-1 fs-10'>💬</span>Mentioned you in a comment.<span class="ms-2 text-body-quaternary text-opacity-75 fw-bold fs-10">10m</span></p>
                                                                        <p class="text-body-secondary fs-9 mb-0"><span class="me-1 fas fa-clock"></span><span class="fw-bold">10:41 AM </span>August 7,2021</p>
                                                                    </div>
                                                                </div>
                                                                <div class="dropdown notification-dropdown">
                                                                    <button class="btn fs-10 btn-sm dropdown-toggle dropdown-caret-none transition-none" type="button" data-bs-toggle="dropdown" data-boundary="window" aria-haspopup="true" aria-expanded="false" data-bs-reference="parent"><span class="fas fa-ellipsis-h fs-10 text-body"></span></button>
                                                                    <div class="dropdown-menu py-2"><a class="dropdown-item" href="#!">Mark as unread</a></div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="px-2 px-sm-3 py-3 notification-card position-relative unread border-bottom">
                                                            <div class="d-flex align-items-center justify-content-between position-relative">
                                                                <div class="d-flex">
                                                                    <div class="avatar avatar-m status-online me-3">
                                                                        <div class="avatar-name rounded-circle"><span>J</span></div>
                                                                    </div>
                                                                    <div class="flex-1 me-sm-3">
                                                                        <h4 class="fs-9 text-body-emphasis">Jane Foster</h4>
                                                                        <p class="fs-9 text-body-highlight mb-2 mb-sm-3 fw-normal"><span class='me-1 fs-10'>📅</span>Created an event.<span class="ms-2 text-body-quaternary text-opacity-75 fw-bold fs-10">20m</span></p>
                                                                        <p class="text-body-secondary fs-9 mb-0"><span class="me-1 fas fa-clock"></span><span class="fw-bold">10:20 AM </span>August 7,2021</p>
                                                                    </div>
                                                                </div>
                                                                <div class="dropdown notification-dropdown">
                                                                    <button class="btn fs-10 btn-sm dropdown-toggle dropdown-caret-none transition-none" type="button" data-bs-toggle="dropdown" data-boundary="window" aria-haspopup="true" aria-expanded="false" data-bs-reference="parent"><span class="fas fa-ellipsis-h fs-10 text-body"></span></button>
                                                                    <div class="dropdown-menu py-2"><a class="dropdown-item" href="#!">Mark as unread</a></div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="px-2 px-sm-3 py-3 notification-card position-relative unread border-bottom">
                                                            <div class="d-flex align-items-center justify-content-between position-relative">
                                                                <div class="d-flex">
                                                                    <div class="avatar avatar-m status-online me-3"><img class="rounded-circle avatar-placeholder" src="../../../assets/img/team/40x40/avatar.webp" alt="" /></div>
                                                                    <div class="flex-1 me-sm-3">
                                                                        <h4 class="fs-9 text-body-emphasis">Jessie Samson</h4>
                                                                        <p class="fs-9 text-body-highlight mb-2 mb-sm-3 fw-normal"><span class='me-1 fs-10'>👍</span>Liked your comment.<span class="ms-2 text-body-quaternary text-opacity-75 fw-bold fs-10">1h</span></p>
                                                                        <p class="text-body-secondary fs-9 mb-0"><span class="me-1 fas fa-clock"></span><span class="fw-bold">9:30 AM </span>August 7,2021</p>
                                                                    </div>
                                                                </div>
                                                                <div class="dropdown notification-dropdown">
                                                                    <button class="btn fs-10 btn-sm dropdown-toggle dropdown-caret-none transition-none" type="button" data-bs-toggle="dropdown" data-boundary="window" aria-haspopup="true" aria-expanded="false" data-bs-reference="parent"><span class="fas fa-ellipsis-h fs-10 text-body"></span></button>
                                                                    <div class="dropdown-menu py-2"><a class="dropdown-item" href="#!">Mark as unread</a></div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="px-2 px-sm-3 py-3 notification-card position-relative unread border-bottom">
                                                            <div class="d-flex align-items-center justify-content-between position-relative">
                                                                <div class="d-flex">
                                                                    <div class="avatar avatar-m status-online me-3"><img class="rounded-circle" src="../../../assets/img/team/40x40/57.webp" alt="" /></div>
                                                                    <div class="flex-1 me-sm-3">
                                                                        <h4 class="fs-9 text-body-emphasis">Kiera Anderson</h4>
                                                                        <p class="fs-9 text-body-highlight mb-2 mb-sm-3 fw-normal"><span class='me-1 fs-10'>💬</span>Mentioned you in a comment.<span class="ms-2 text-body-quaternary text-opacity-75 fw-bold fs-10"></span></p>
                                                                        <p class="text-body-secondary fs-9 mb-0"><span class="me-1 fas fa-clock"></span><span class="fw-bold">9:11 AM </span>August 7,2021</p>
                                                                    </div>
                                                                </div>
                                                                <div class="dropdown notification-dropdown">
                                                                    <button class="btn fs-10 btn-sm dropdown-toggle dropdown-caret-none transition-none" type="button" data-bs-toggle="dropdown" data-boundary="window" aria-haspopup="true" aria-expanded="false" data-bs-reference="parent"><span class="fas fa-ellipsis-h fs-10 text-body"></span></button>
                                                                    <div class="dropdown-menu py-2"><a class="dropdown-item" href="#!">Mark as unread</a></div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="px-2 px-sm-3 py-3 notification-card position-relative unread border-bottom">
                                                            <div class="d-flex align-items-center justify-content-between position-relative">
                                                                <div class="d-flex">
                                                                    <div class="avatar avatar-m status-online me-3"><img class="rounded-circle" src="../../../assets/img/team/40x40/59.webp" alt="" /></div>
                                                                    <div class="flex-1 me-sm-3">
                                                                        <h4 class="fs-9 text-body-emphasis">Herman Carter</h4>
                                                                        <p class="fs-9 text-body-highlight mb-2 mb-sm-3 fw-normal"><span class='me-1 fs-10'>👤</span>Tagged you in a comment.<span class="ms-2 text-body-quaternary text-opacity-75 fw-bold fs-10"></span></p>
                                                                        <p class="text-body-secondary fs-9 mb-0"><span class="me-1 fas fa-clock"></span><span class="fw-bold">10:58 PM </span>August 7,2021</p>
                                                                    </div>
                                                                </div>
                                                                <div class="dropdown notification-dropdown">
                                                                    <button class="btn fs-10 btn-sm dropdown-toggle dropdown-caret-none transition-none" type="button" data-bs-toggle="dropdown" data-boundary="window" aria-haspopup="true" aria-expanded="false" data-bs-reference="parent"><span class="fas fa-ellipsis-h fs-10 text-body"></span></button>
                                                                    <div class="dropdown-menu py-2"><a class="dropdown-item" href="#!">Mark as unread</a></div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="px-2 px-sm-3 py-3 notification-card position-relative read ">
                                                            <div class="d-flex align-items-center justify-content-between position-relative">
                                                                <div class="d-flex">
                                                                    <div class="avatar avatar-m status-online me-3"><img class="rounded-circle" src="../../../assets/img/team/40x40/58.webp" alt="" /></div>
                                                                    <div class="flex-1 me-sm-3">
                                                                        <h4 class="fs-9 text-body-emphasis">Benjamin Button</h4>
                                                                        <p class="fs-9 text-body-highlight mb-2 mb-sm-3 fw-normal"><span class='me-1 fs-10'>👍</span>Liked your comment.<span class="ms-2 text-body-quaternary text-opacity-75 fw-bold fs-10"></span></p>
                                                                        <p class="text-body-secondary fs-9 mb-0"><span class="me-1 fas fa-clock"></span><span class="fw-bold">10:18 AM </span>August 7,2021</p>
                                                                    </div>
                                                                </div>
                                                                <div class="dropdown notification-dropdown">
                                                                    <button class="btn fs-10 btn-sm dropdown-toggle dropdown-caret-none transition-none" type="button" data-bs-toggle="dropdown" data-boundary="window" aria-haspopup="true" aria-expanded="false" data-bs-reference="parent"><span class="fas fa-ellipsis-h fs-10 text-body"></span></button>
                                                                    <div class="dropdown-menu py-2"><a class="dropdown-item" href="#!">Mark as unread</a></div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="card-footer p-0 border-top border-translucent border-0">
                                                    <div class="my-2 text-center fw-bold fs-10 text-body-tertiary text-opactity-85"><a class="fw-bolder" href="../../../pages/notifications.html">Notification history</a></div>
                                                </div>
                                            </div>
                                        </div>
                                    </li>
                                    <li class="nav-item dropdown">
                                        <a class="nav-link px-2" id="navbarDropdownUser" href="#" role="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-haspopup="true" aria-expanded="false"><span class="text-body-tertiary" data-feather="user" style="height:20px;width:20px;"></span></a>
                                        <div class="dropdown-menu dropdown-menu-end navbar-dropdown-caret py-0 dropdown-profile shadow border mt-2" aria-labelledby="navbarDropdownUser">
                                            <div class="card position-relative border-0">
                                                <div class="card-body p-0">
                                                    <div class="text-center pt-4 pb-3">
                                                        <div class="avatar avatar-xl ">
                                                        </div>
                                                        <h6 class="mt-2 text-body-emphasis"></h6>
                                                    </div>
                                                    @* @foreach (var role in await UserManager.GetRolesAsync(await UserManager.GetUserAsync(User)))
                                                    {
                                                        @role
                                                    } *@
                                                </div>
                                                <div class="overflow-auto scrollbar" style="height: 10rem;">
                                                    <ul class="nav d-flex flex-column mb-2 pb-1">
                                                        <li class="nav-item">
                                                            @* <a class="nav-link px-3 d-block" href="@Url.Action("Create","Accounts",new{id =user.Id })">
                                                                <span class="me-2 text-body align-bottom" data-feather="user"></span>
                                                                <span>Profile</span>
                                                            </a> *@
                                                        </li>
                                                        <li class="nav-item">
                                                            <a class="nav-link px-3 d-block" href="/Identity/Account/Manage/ChangePassword">
                                                                <span class="me-2 text-body align-bottom" data-feather="globe"></span>Change Password
                                                            </a>
                                                        </li>
                                                    </ul>
                                                </div>
                                                <div class="card-footer p-0 border-top border-translucent">

                                                    <div class="px-3">
                                                        @*  <a class="btn btn-phoenix-secondary d-flex flex-center w-100" href="#!">
                                                            <span class="me-2" data-feather="log-out"> </span>Sign out
                                                        </a> *@
                                                        @{
                                                            if (User.Identity?.IsAuthenticated ?? false)
                                                            {
                                                                <form class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Page("/", new { area = "" })" method="post">
                                                                    <i class="bx bx-power-off me-2">
                                                                    </i>
                                                                    <button type="submit" class="nav-link btn btn-link text-dark">Log Out</button>
                                                                </form>
                                                            }
                                                            else
                                                            {
                                                                <p>You have successfully logged out of the application.</p>
                                                            }
                                                        }
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                            <div class="col-12 col-md-6">
                                <div class="search-box ecommerce-search-box w-100">
                                    <form class="position-relative">
                                        <input class="form-control search-input search form-control-sm" type="search" placeholder="Search" aria-label="Search" />
                                        <span class="fas fa-search search-box-icon"></span>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </nav>
                </div>
            </div><!-- end of .container-->
        </section><!-- <section> close ============================-->
        <!-- ============================================-->

        <nav class="navbar-responsive-navitems navbar-expand navbar-light bg-body-emphasis justify-content-between">
            <div class="container-small d-flex flex-between-center" data-navbar="data-navbar">
                <div class="dropdown">
                    <button class="btn text-body ps-0 pe-5 text-nowrap dropdown-toggle dropdown-caret-none" data-category-btn="data-category-btn" data-bs-toggle="dropdown"><span class="fas fa-bars me-2"></span>Category</button>
                    <div class="dropdown-menu border border-translucent py-0 category-dropdown-menu">
                        <div class="card border-0 scrollbar" style="max-height: 657px;">
                            <div class="card-body p-6 pb-3">
                                <div class="row gx-7 gy-5 mb-5">


                                    @foreach (var item in categories)
                                    {



                                        <div class="col-12 col-sm-6 col-md-4">
                                            <div class="d-flex align-items-center mb-3">
                                                <span class="text-primary me-2" data-feather="pocket" style="stroke-width:3;"></span>
                                                <h6 class="text-body-highlight mb-0 text-nowrap">@item.Name</h6>
                                            </div>
                                            <div class="ms-n2">
                                                @foreach (var sub in item.SubCategories)
                                                {
                                                    <a class="text-body-emphasis d-block mb-1 text-decoration-none bg-body-highlight-hover px-2 py-1 rounded-2" href="#!">@sub.Name</a>

                                                }

                                            </div>

                                        </div>


                                    }



                                </div>
                                <div class="text-center border-top border-translucent pt-3"><a class="fw-bold" href="#!">See all Categories<span class="fas fa-angle-right ms-1" data-fa-transform="down-1"></span></a></div>
                            </div>
                        </div>
                    </div>
                </div>
                <ul class="navbar-nav justify-content-end align-items-center">
                    <li class="nav-item" data-nav-item="data-nav-item"><a class="nav-link ps-0 active" href="homepage.html">Home</a></li>

                    <li class="nav-item" data-nav-item="data-nav-item"><a class="nav-link" href="@Url.Action("Index","Product")">Products</a></li>
                    <li class="nav-item" data-nav-item="data-nav-item"><a class="nav-link" href="wishlist.html">Wishlist</a></li>
                    <li class="nav-item dropdown" data-nav-item="data-nav-item" data-more-item="data-more-item">
                        <a class="nav-link dropdown-toggle dropdown-caret-none fw-bold pe-0" href="javascript: void(0)" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false" data-boundary="window" data-bs-reference="parent"> More<span class="fas fa-angle-down ms-2"></span></a>
                        <div class="dropdown-menu dropdown-menu-end category-list" aria-labelledby="navbarDropdown" data-category-list="data-category-list"></div>
                    </li>
                </ul>
            </div>
        </nav>
        <div class="ecommerce-homepage pt-5 mb-9">
            @RenderBody()

        </div>
        <div class="support-chat-container">
            <div class="container-fluid support-chat">
                <div class="card bg-body-emphasis">
                    <div class="card-header d-flex flex-between-center px-4 py-3 border-bottom border-translucent">
                        <h5 class="mb-0 d-flex align-items-center gap-2">Demo widget<span class="fa-solid fa-circle text-success fs-11"></span></h5>
                        <div class="btn-reveal-trigger">
                            <button class="btn btn-link p-0 dropdown-toggle dropdown-caret-none transition-none d-flex" type="button" id="support-chat-dropdown" data-bs-toggle="dropdown" data-boundary="window" aria-haspopup="true" aria-expanded="false" data-bs-reference="parent"><span class="fas fa-ellipsis-h text-body"></span></button>
                            <div class="dropdown-menu dropdown-menu-end py-2" aria-labelledby="support-chat-dropdown"><a class="dropdown-item" href="#!">Request a callback</a><a class="dropdown-item" href="#!">Search in chat</a><a class="dropdown-item" href="#!">Show history</a><a class="dropdown-item" href="#!">Report to Admin</a><a class="dropdown-item btn-support-chat" href="#!">Close Support</a></div>
                        </div>
                    </div>
                    <div class="card-body chat p-0">
                        <div class="d-flex flex-column-reverse scrollbar h-100 p-3">
                            <div class="text-end mt-6">
                                <a class="mb-2 d-inline-flex align-items-center text-decoration-none text-body-emphasis bg-body-hover rounded-pill border border-primary py-2 ps-4 pe-3" href="#!">
                                    <p class="mb-0 fw-semibold fs-9">I need help with something</p><span class="fa-solid fa-paper-plane text-primary fs-9 ms-3"></span>
                                </a><a class="mb-2 d-inline-flex align-items-center text-decoration-none text-body-emphasis bg-body-hover rounded-pill border border-primary py-2 ps-4 pe-3" href="#!">
                                    <p class="mb-0 fw-semibold fs-9">I can’t reorder a product I previously ordered</p><span class="fa-solid fa-paper-plane text-primary fs-9 ms-3"></span>
                                </a><a class="mb-2 d-inline-flex align-items-center text-decoration-none text-body-emphasis bg-body-hover rounded-pill border border-primary py-2 ps-4 pe-3" href="#!">
                                    <p class="mb-0 fw-semibold fs-9">How do I place an order?</p><span class="fa-solid fa-paper-plane text-primary fs-9 ms-3"></span>
                                </a><a class="false d-inline-flex align-items-center text-decoration-none text-body-emphasis bg-body-hover rounded-pill border border-primary py-2 ps-4 pe-3" href="#!">
                                    <p class="mb-0 fw-semibold fs-9">My payment method not working</p><span class="fa-solid fa-paper-plane text-primary fs-9 ms-3"></span>
                                </a>
                            </div>
                            <div class="text-center mt-auto">
                                <div class="avatar avatar-3xl status-online"><img class="rounded-circle border border-3 border-light-subtle" src="../../../assets/img/team/30.webp" alt="" /></div>
                                <h5 class="mt-2 mb-3">Eric</h5>
                                <p class="text-center text-body-emphasis mb-0">Ask us anything – we’ll get back to you here or by email within 24 hours.</p>
                            </div>
                        </div>
                    </div>
                    <div class="card-footer d-flex align-items-center gap-2 border-top border-translucent ps-3 pe-4 py-3">
                        <div class="d-flex align-items-center flex-1 gap-3 border border-translucent rounded-pill px-4"><input class="form-control outline-none border-0 flex-1 fs-9 px-0" type="text" placeholder="Write message" /><label class="btn btn-link d-flex p-0 text-body-quaternary fs-9 border-0" for="supportChatPhotos"><span class="fa-solid fa-image"></span></label><input class="d-none" type="file" accept="image/*" id="supportChatPhotos" /><label class="btn btn-link d-flex p-0 text-body-quaternary fs-9 border-0" for="supportChatAttachment"> <span class="fa-solid fa-paperclip"></span></label><input class="d-none" type="file" id="supportChatAttachment" /></div><button class="btn p-0 border-0 send-btn"><span class="fa-solid fa-paper-plane fs-9"></span></button>
                    </div>
                </div>
            </div><button class="btn btn-support-chat p-0 border border-translucent"><span class="fs-8 btn-text text-primary text-nowrap">Chat demo</span><span class="ping-icon-wrapper mt-n4 ms-n6 mt-sm-0 ms-sm-2 position-absolute position-sm-relative"><span class="ping-icon-bg"></span><span class="fa-solid fa-circle ping-icon"></span></span><span class="fa-solid fa-headset text-primary fs-8 d-sm-none"></span><span class="fa-solid fa-chevron-down text-primary fs-7"></span></button>
        </div>

        <!-- ============================================-->
        <!-- <section> begin ============================-->
        <section class="bg-body-highlight dark__bg-gray-1100 py-9">
            <div class="container-small">
                <div class="row justify-content-between gy-4">
                    <div class="col-12 col-lg-4">
                        <div class="d-flex align-items-center mb-3">
                            <img src="../../../assets/img/icons/logo.png" alt="phoenix" width="27" />
                            <h5 class="logo-text ms-2">Auction Hive</h5>
                        </div>
                        <p class="text-body-tertiary mb-1 fw-semibold lh-sm fs-9">Phoenix is an admin dashboard template with fascinating features and amazing layout. The template is responsive to all major browsers and is compatible with all available devices and screen sizes.</p>
                    </div>
                    <div class="col-6 col-md-auto">
                        <h5 class="fw-bolder mb-3">About Phoenix</h5>
                        <div class="d-flex flex-column"><a class="text-body-tertiary fw-semibold fs-9 mb-1" href="#!">Careers</a><a class="text-body-tertiary fw-semibold fs-9 mb-1" href="#!">Affiliate Program</a><a class="text-body-tertiary fw-semibold fs-9 mb-1" href="#!">Privacy Policy</a><a class="text-body-tertiary fw-semibold fs-9 mb-1" href="#!">Terms & Conditions</a></div>
                    </div>
                    <div class="col-6 col-md-auto">
                        <h5 class="fw-bolder mb-3">Stay Connected</h5>
                        <div class="d-flex flex-column"><a class="text-body-tertiary fw-semibold fs-9 mb-1" href="#!">Blogs</a><a class="mb-1 fw-semibold fs-9 d-flex" href="#!"><span class="fab fa-facebook-square text-primary me-2 fs-8"></span><span class="text-body-secondary">Facebook</span></a><a class="mb-1 fw-semibold fs-9 d-flex" href="#!"><span class="fab fa-twitter-square text-info me-2 fs-8"></span><span class="text-body-secondary">Twitter</span></a></div>
                    </div>
                    <div class="col-6 col-md-auto">
                        <h5 class="fw-bolder mb-3">Customer Service</h5>
                        <div class="d-flex flex-column"><a class="text-body-tertiary fw-semibold fs-9 mb-1" href="#!">Help Desk</a><a class="text-body-tertiary fw-semibold fs-9 mb-1" href="#!">Support, 24/7</a><a class="text-body-tertiary fw-semibold fs-9 mb-1" href="#!">Community of Phoenix</a></div>
                    </div>
                    <div class="col-6 col-md-auto">
                        <h5 class="fw-bolder mb-3">Payment Method</h5>
                        <div class="d-flex flex-column"><a class="text-body-tertiary fw-semibold fs-9 mb-1" href="#!">Cash on Delivery</a><a class="text-body-tertiary fw-semibold fs-9 mb-1" href="#!">Online Payment</a><a class="text-body-tertiary fw-semibold fs-9 mb-1" href="#!">PayPal</a><a class="text-body-tertiary fw-semibold fs-9 mb-1" href="#!">Installment</a></div>
                    </div>
                </div>
            </div><!-- end of .container-->
        </section><!-- <section> close ============================-->
        <!-- ============================================-->

        <footer class="footer position-relative">
            <div class="row g-0 justify-content-between align-items-center h-100">
                <div class="col-12 col-sm-auto text-center">
                    <p class="mb-0 mt-2 mt-sm-0 text-body">Thank you for creating with Phoenix<span class="d-none d-sm-inline-block"></span><span class="d-none d-sm-inline-block mx-1">|</span><br class="d-sm-none" />2024 &copy;<a class="mx-1" href="https://themewagon.com/">Themewagon</a></p>
                </div>
                <div class="col-12 col-sm-auto text-center">
                    <p class="mb-0 text-body-tertiary text-opacity-85">v1.20.1</p>
                </div>
            </div>
        </footer>

    </main>
    <!-- ===============================================-->
    <!--    End of Main Content-->
    <!-- ===============================================-->




    <script src="~/vendors/popper/popper.min.js"></script>
    <script src="~/vendors/bootstrap/bootstrap.min.js"></script>
    <script src="~/vendors/anchorjs/anchor.min.js"></script>
    <script src="~/vendors/is/is.min.js"></script>
    <script src="~/vendors/fontawesome/all.min.js"></script>
    <script src="~/vendors/lodash/lodash.min.js"></script>
    <script src="~/vendors/list.js/list.min.js"></script>
    <script src="~/vendors/feather-icons/feather.min.js"></script>
    <script src="~/vendors/dayjs/dayjs.min.js"></script>
    <script src="~/vendors/leaflet/leaflet.js"></script>
    <script src="~/vendors/leaflet.markercluster/leaflet.markercluster.js"></script>
    <script src="~/vendors/leaflet.tilelayer.colorfilter/leaflet-tilelayer-colorfilter.min.js"></script>
    <script src="~/assets/js/phoenix.js"></script>

    <script src="~/vendors/echarts/echarts.min.js"></script>
    <script src="~/assets/js/ecommerce-dashboard.js"></script>
    <script src="~/vendors/swiper/swiper-bundle.min.js"></script>
    @await Component.InvokeAsync("Notyf")
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
